[Unit]
Description=health-check-api
After=syslog.target

[Service]
User=ec2-user
EnvironmentFile=/etc/environment
ExecStart=/home/ec2-user/webservice/health-check-api-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143 

[Install] 
WantedBy=multi-user.target