[Unit]
Description=health-check-api
After=syslog.target

[Service]
User=ec2-user
EnvironmentFile=/etc/environment
ExecStart=/home/ec2-user/webservice/health-check-api-0.0.1-SNAPSHOT.jar
StandardOutput=file:/home/ec2-user/logs/csye6225_spring2022.log
StandardError=file:/home/ec2-user/logs/csye6225_spring2022.log
SuccessExitStatus=143 

[Install] 
WantedBy=multi-user.target